<div class="kingster-page-wrapper" id="kingster-page-wrapper">
        <div class=" kingster-style-custom kingster-feature-image" >
            <div class="kingster-header-transparent-substitute"></div>
            <div class="kingster-blog-title-overlay" style="opacity: 0.01 ;"></div>
            <div class="kingster-blog-title-bottom-overlay"></div>
            <div class="kingster-blog-title-container kingster-container">
                <!-- <div class="kingster-blog-title-content kingster-item-pdlr" style="padding-top: 400px ;padding-bottom: 80px ;"> -->
                    <header class="kingster-single-article-head clearfix">
                        <div class="kingster-single-article-date-wrapper  post-date updated">
                            <div class="kingster-single-article-date-day">{{articulo?.fecha | date:'dd'}}</div>
                            <div class="kingster-single-article-date-month">{{articulo?.fecha | date:'MMM'}}</div>
                            <div class="kingster-single-article-date-month">{{articulo?.fecha | date:'yyyy'}}</div>
                        </div>
                        <div class="kingster-single-article-head-right">
                            <h1 class="kingster-single-article-title">{{ articulo?.titulo }}</h1>
                            <!-- <div class="kingster-blog-info-wrapper">
                                <div class="kingster-blog-info kingster-blog-info-font kingster-blog-info-author vcard author post-author "><span class="kingster-head">By</span><span class="fn"><a href="#" title="Posts by John Smith" rel="author">John Smith</a></span></div>
                                <div class="kingster-blog-info kingster-blog-info-font kingster-blog-info-category "><a href="#" rel="tag">Blog</a><span class="gdlr-core-sep">,</span> <a href="#" rel="tag">Post Format</a></div>
                                <div class="kingster-blog-info kingster-blog-info-font kingster-blog-info-tag "><a href="#" rel="tag">News</a></div>
                                <div class="kingster-blog-info kingster-blog-info-font kingster-blog-info-comment-number "><span class="kingster-head"><i class="fa fa-comments-o" ></i></span>2</div>
                            </div> -->
                        </div>
                    </header>
                <!-- </div> -->
            </div>
        </div>
    <div class="kingster-breadcrumbs">
        <div class="kingster-breadcrumbs-container kingster-container">
            <div class="kingster-breadcrumbs-item kingster-item-pdlr"> <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Inicio" href="index.html" class="home"><span property="name">Inicio</span></a>
                <meta property="position" content="1">
                </span>&gt;<span property="itemListElement" typeof="ListItem" *ngIf="articulo?.tipartid != 1" >
                    <a property="item" typeof="WebPage" title="Tipo de Articulo" href="/articulo-lista/{{articulo?.tipartid}}" class="taxonomy category" *ngIf="articulo?.tipartid != 1" >

                        <span property="name" *ngIf="articulo?.tipartid == 2 " >Evento</span>
                        <span property="name" *ngIf="articulo?.tipartid == 3 " >Curiosidad</span>
                        <span property="name" *ngIf="articulo?.tipartid == 4 " >Recuerdos</span>
                        <span property="name" *ngIf="articulo?.tipartid == 5 " >Destacados</span>
                    </a>
                <meta property="position" content="2" >
                </span>&gt;<span property="itemListElement" typeof="ListItem" >
                 <a href="/articulo-vista/{{articulo?.articuloid}}"  ><span property="name">{{ articulo?.titulo }}</span> </a>
                <meta property="position" content="3">
                </span>
            </div>
        </div>
    </div>
    <div class="kingster-content-container kingster-container">
        <div class=" kingster-sidebar-wrap clearfix kingster-line-height-0 kingster-sidebar-style-none">
            <div class=" kingster-sidebar-center kingster-column-60 kingster-line-height">
                <div class="kingster-content-wrap kingster-item-pdlr clearfix">
                    <div class="kingster-content-area">
                        <article id="post-1268" class="post-1268 post type-post status-publish format-standard has-post-thumbnail hentry category-blog category-post-format tag-news">
                            <div class="kingster-single-article clearfix">
                                <div class="kingster-single-article-content " >
                                        <!-- <div class="gdlr-core-blog-modern-content  gdlr-core-center-align"><h4>{{ articulo?.titulo }}</h4> </div> -->
                                        <div  [innerHTML]="articulo?.contenido "></div>

                                                <div *ngFor="let foto of fotos" class="gdlr-core-blog-modern-content  gdlr-core-center-align">
                                                        <img src="{{foto.rutafoto}}"   alt="{{foto.titulo}}" />
                                                        <p>{{foto.detalle}}</p>
                                                </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>

